services:
  backend:
    build: .
    container_name: node-backend
    ports:
      - "3000:3000"
    command: ["node", "index.js"]
    restart: unless-stopped

  jenkins:
      image: jenkins/jenkins:lts
      container_name: jenkins-server
      ports:
        - "8080:8080"   # Jenkins UI
        - "50000:50000" # For Jenkins agents
      volumes:
        - jenkins_home:/var/jenkins_home
      restart: unless-stopped 
volumes:
  jenkins_home:
